<!DOCTYPE html>
<html>
  <body>
    <h2><%= @player1.name %> chose <%= @player1.choice %><h2>
    <h2><%= @player2.name %> chose <%= @player2.choice %><h2>
    <h2><%= @game.print_winner %></h2>

    <div>
      <form action="/play">
        <label for="play_again">
          <input type="submit" value="Play again">
        <label>
      </form>
    </div>

    <div>
      <form action="/">
        <label for="new_player">
          <input type="submit" value="New player">
        <label>
      </form>
    </div>
  </body>
</html>
